body {
    background-color: #dbdbdb;
}

.large {
    font-size: 2em;
    font-weight: bold;
    color: #82a3ee;
}

.temperature {
    font-size: 2em;
}

.weather-day {
    width: 100%
}

.weather-day img {
}

.temperature-high {

}

.temperature-low {

}

.panel-icon {
    float: left;
    color: #c0c0c0;
    font-size: 1.5em;
}